/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Globals
*  2.0 - Layout
*  3.0 - Utilities
*  4.0 - Components
*  5.0 - Fonts
*  6.0 - Animations

*/

/*---------------
1.0 - Globals
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input {
  font-family: $body-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  height: 60px;
  border-radius: 0.65rem;
  background-color: #fff;
  color: $text-color;
  padding: 15px 30px;
  display: block;
  border: 2px solid rgba(128, 128, 128, 0.404);
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
::placeholder {
  color: rgba(128, 128, 128, 0.603);
}

/*-----------------
2.0 - Layout 
-----------------*/
.l-main {
  overflow: hidden;
}

.l-container {
  max-width: 968px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

@media screen and (min-width: $lg-breakpoint) {
  .l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .l-container {
    max-width: 1080px;
  }
}

@media screen and (min-width: $xx-breakpoint) {
  .l-container {
    max-width: 1180px;
  }
}

/*-----------------
3.0 - Utilities
-----------------*/
.u-is-loading {
  opacity: 0;
}

.u-is-important {
  color: $primary-color;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}

.u-align-items-center {
  align-items: center;
}

.u-relative{
  position: relative;
}

.u-section {
  margin: 2rem 0 0 0;
  padding: 2rem 0;
  z-index: 10;
  position: relative;
  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    word-break: break-word;
  }
  &.u-section--darker {
    background-color: #f5f6fa;
  }
}

.u-mb-0-5 {
  margin-bottom: 0.5rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-1-5 {
  margin-bottom: 1.5rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-2-5 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: $md-breakpoint) {
  .u-section {
    margin: 6rem 0 0 0;
    &__title{
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 3rem;
      text-align: center;
      padding:0 10rem;
    }
  }
}

/*-----------------
4.0 - Components
-----------------*/
.c-button {
  display: inline-block;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 500;
  border-radius: 0.65rem;
  transition: 0.3s;
  &:hover {
    box-shadow: 5px 9px 11px -4px rgba(113, 33, 181, 0.53);
  }
  &.c-button--primary {
    background-color: $primary-color;
  }
  &.c-button--gifts {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/*-----------------
5.0 - Fonts
-----------------*/
h1,
h2,
h3,
a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0px;
}

p{
  font-family: 'Roboto', sans-serif;
  line-height: 1.8rem;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

p,
a {
  font-size: 1.15rem;
  color: $text-color;
}

@media screen and (min-width: $lg-breakpoint) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

/*-----------------
6.0 - Animations
-----------------*/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0.2;
    transform: translateX(80px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
