$body-font: 'Poppins', sans-serif;
$primary-color: #3dab34;;
$secondary-color: rgb(224, 191, 58);

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: hsl(229deg 11% 51%);

$border-r: 1.5rem;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 1050px;
$xl-breakpoint: 1216px;
$xx-breakpoint: 1400px;
